h1 {
    text-align: center;
}

h1, h2{
    color: red;
    text-decoration: underline;
}

body{
    background-color: gray;
    background-image:url("../img/css_selectors.jpeg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    font-family: "Comic Sans MS";
}

ul > li {
    list-style-type: square;
}

td, tr{
    padding: 5px;
    font-size: 1em;
}

a:hover{
    color:orange;
    font-size:2em;
    transition: 500ms;
}

a:visited{
    color: red;
}
